<aside class="sidebar collapsed" id="sidebar">
    <nav class="nav-menu">
        <!-- Trang chủ -->
        <a href="@Url.Action("Index", "Dashboard")"
           class="nav-item nav-parent">
            <i class="fas fa-home"></i>
            <span style="width: 90%">Trang chủ</span>
        </a>

        <!-- Thông tin chung -->
        <div class="nav-group">
            <div class="nav-parent">
                <i class="fas fa-info-circle"></i>
                <span>Thông tin chung</span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </div>
            <div class="nav-submenu">
                <a href="@Url.Action("Index", "DangKyNoiTru")"
                   class="nav-subitem">
                    <span>Đăng ký nội trú</span>
                </a>
                 <a href="@Url.Action("Index", "HoSoSinhVien")"
                   class="nav-subitem">
                    <span>Hồ sơ sinh viên</span>
                </a>
                <a href="@Url.Action("Index", "DanhSachHoSoCaNhan")"
                   class="nav-subitem">
                    <span>Danh sách hồ sơ cá nhân</span>
                </a>
                <a href="@Url.Action("Index", "ThongTinSinhVien")"
                   class="nav-subitem">
                    <span>Thông tin sinh viên</span>
                </a>
               <a href="@Url.Action("Index", "DeXuatCapNhatThongTin")"
                   class="nav-subitem">
                    <span>Đề xuất cập nhật thông tin</span>
                </a>
                <a href="@Url.Action("Index", "DeXuatBieuMau")"
                   class="nav-subitem">
                    <span>Đề xuất biểu mẫu</span>
                </a>
                <a href="@Url.Action("Index", "DeXuatChungChi")"
                   class="nav-subitem">
                    <span>Đề xuất chứng chỉ</span>
                </a>
                <a href="@Url.Action("Index", "DeXuatKhenThuong")"
                   class="nav-subitem">
                    <span>Đề xuất khen thưởng</span>
                </a>
                <a href="@Url.Action("Index", "KhaoSatSuKien")"
                   class="nav-subitem">
                    <span>Khảo sát sự kiện</span>
                </a>
               <a href="@Url.Action("Index", "DangKyChuyenNganh")"
                   class="nav-subitem">
                    <span>Đăng ký chuyên ngành</span>
                </a>
                <a href="@Url.Action("Index", "DanhGiaRenLuyenLop")"
                   class="nav-subitem">
                    <span>Đánh giá rèn luyện lớp</span>
                </a>
                <a href="@Url.Action("Index", "LichSuBHYT")"
                   class="nav-subitem">
                    <span>Lịch sử khai báo BHYT</span>
                </a>
                <a href="@Url.Action("Index", "KhaiBaoBHYT")"
                   class="nav-subitem">
                    <span>Khai báo thông tin BHYT</span>
                </a>
                <a href="@Url.Action("Index", "LichSuBHYT")"
                   class="nav-subitem">
                    <span>Lịch sử khai báo BHYT</span>
                </a>
                <a href="@Url.Action("Index", "DeXuatXetTotNghiep")"
                   class="nav-subitem">
                    <span>Đề xuất xét tốt nghiệp</span>
                </a>
                <a href="@Url.Action("Index", "DeXuatChungChi")"
                   class="nav-subitem">
                    <span>Đề xuất chứng chỉ</span>
                </a>
            </div>
        </div>

        <!-- Học tập -->
        <div class="nav-group">
            <div class="nav-parent">
                <i class="fas fa-graduation-cap"></i>
                <span>Học tập</span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </div>
            <div class="nav-submenu">
                <a href="@Url.Action("Index", "KetQuaHocTap")"
                   class="nav-subitem">
                    <span>Kết quả học tập</span>
                </a>
                <a href="@Url.Action("Index", "HocBong")"
                   class="nav-subitem">
                    <span>Tra cứu học bổng</span>
                </a>
                 <a href="@Url.Action("Index", "DangKyMuonPhong")"
                   class="nav-subitem">
                    <span>Đăng ký mượn phòng</span>
                </a>
                <a href="@Url.Action("Index", "ThongTinDiemDanh")"
                   class="nav-subitem">
                    <span>Thông tin điểm danh</span>
                </a>
                <a href="@Url.Action("Index", "KetQuaRenLuyen")"
                   class="nav-subitem">
                    <span>Kết quả rèn luyện</span>
                </a>
                <a href="@Url.Action("Index", "TuDanhGiaKetQuaRenLuyen")"
                   class="nav-subitem">
                    <span>Tự đánh giá kết quả rèn luyện</span>
                </a>
                <a href="@Url.Action("Index", "LichTheoTuan")"
                   class="nav-subitem">
                    <span>Lịch theo tuần</span>
                </a>
                <a href="@Url.Action("Index", "LichTheoTienDo")"
                   class="nav-subitem">
                    <span>Lịch theo tiến độ</span>
                </a>
                <a href="@Url.Action("Index", "LichToanTruong")"
                   class="nav-subitem">
                    <span>Lịch toàn trường</span>
                </a>
                <a href="@Url.Action("Index", "DangKyPhucKhao")"
                   class="nav-subitem">
                    <span>Đăng ký phúc khảo</span>
                </a>
                 <a href="@Url.Action("Index", "DangKyHoanThi")"
                   class="nav-subitem">
                    <span>Đăng ký hoãn thi</span>
                </a>
                <a href="@Url.Action("Index", "DanhKyDanhGiaLaiHPHoanThi")"
                   class="nav-subitem">
                    <span>Đăng ký đánh giá lại học phần hoãn thi</span>
                </a>
                <a href="@Url.Action("Index", "DiemThuongSinhVien")"
                   class="nav-subitem">
                    <span>Điểm thưởng sinh viên</span>
                </a>
                <a href="@Url.Action("Index", "XemDiemTichLuyNganh2")"
                   class="nav-subitem">
                    <span>Xem điểm tích lũy ngành 2</span>
                </a>
                <a href="@Url.Action("Index", "KetQuaHocTapNganh2")"
                   class="nav-subitem">
                    <span>Xem điểm ngành 2</span>
                </a>
            </div>
        </div>

        <!-- Học phí -->
        <div class="nav-group">
            <div class="nav-parent">
                <i class="fas fa-money-bill-wave"></i>
                <span>Học phí</span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </div>
            <div class="nav-submenu">
                <a href="@Url.Action("Index", "ThanhToanTrucTuyen")"
                   class="nav-subitem">
                    <span>Thanh toán trực tuyến</span>
                </a>
                <a href="@Url.Action("Index", "ThanhToanNoiTru")"
                   class="nav-subitem">
                    <span>Thanh toán nội trú</span>
                </a>
                <a href="@Url.Action("Index", "ThanhToanDichVu")"
                   class="nav-subitem">
                    <span>Thanh toán dịch vụ</span>
                </a>
                <a href="@Url.Action("Index", "PhieuThuTongHop")"
                   class="nav-subitem">
                    <span>Phiếu thu tổng hợp</span>
                </a>
                <a href="@Url.Action("Index", "PhieuThuTrucTuyen")"
                   class="nav-subitem">
                    <span>Phiếu thu trực tuyến</span>
                </a>
               <a href="@Url.Action("Index", "TraCuuCongNo")"
                   class="nav-subitem">
                    <span>Tra cứu công nợ</span>
                </a>
            </div>
        </div>

        <!-- Đăng ký học phần -->
        <div class="nav-group">
            <div class="nav-parent">
                <i class="fas fa-book-open"></i>
                <span>Đăng ký học phần</span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </div>
            <div class="nav-submenu">
                <a href="@Url.Action("Index", "DangKyThiLaiThiCaiThien")"
                   class="nav-subitem">
                    <span>Đăng ký thi lại - thi cải thiện</span>
                </a>
                <a href="@Url.Action("Index", "DangKyMonHocDieuKien")"
                   class="nav-subitem">
                    <span>Đăng ký môn học điều kiện</span>
                </a>
                <a href="@Url.Action("Index", "ChuongTrinhKhung")"
                   class="nav-subitem">
                    <span>Chương trình khung</span>
                </a>
                <a href="@Url.Action("ChuongTrinhKhungNganh2", "ChuongTrinhKhung")"
                   class="nav-subitem">
                    <span>Chương trình khung ngành 2</span>
                </a>
               <a href="@Url.Action("Index", "DangKyHocPhanNganh2")"
                   class="nav-subitem">
                    <span>Đăng ký học phần ngành 2</span>
                </a>
                <a href="@Url.Action("Index", "DangKyHocPhan")"
                   class="nav-subitem">
                    <span>Đăng ký học phần</span>
                </a>
            </div>
        </div>

        <!-- Khác -->
        <div class="nav-group">
            <div class="nav-parent">
                <i class="fas fa-ellipsis-h"></i>
                <span>Khác</span>
                <i class="fas fa-chevron-down dropdown-icon"></i>
            </div>
            <div class="nav-submenu">
                <a href="@Url.Action("Index", "GhiChuNhacNho")"
                   class="nav-subitem">
                    <span>Ghi chú nhắc nhở</span>
                </a>
              <a href="@Url.Action("Index", "HopThuSinhVien")"
                   class="nav-subitem">
                    <span>Hộp thư sinh viên</span>
                </a>
               <a href="@Url.Action("Index", "LienHeGopY")"
                   class="nav-subitem">
                    <span>Liên hệ góp ý</span>
                </a>
            </div>
        </div>
    </nav>
</aside>
